<% layout("layout/boilerplate") %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/min/tiny-slider.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css" />
<link rel="stylesheet" href="/stylesheet/browse.css" />

<h1 class="separate">Popular Today</h1>

<section id="slider">
	<div class="container">
		<div class="subcontainer">
			<div class="slider-wrapper">
				<div class="controller">
					<div>
						<h2>Top Picks This Week</h2>
					</div>
					<div id="controls">
						<button class="previous">
							<i class="fa-solid fa-angle-left"></i>
						</button>
						<button class="next">
							<i class="fa-solid fa-angle-right" ></i>
						</button>
					</div>
				</div>
				<br>
				<div class="sliders">
					<div>
						<div class="slide" crossorigin="anonymous">
							<div class="slide-img img-1">
								<img src="https://res.cloudinary.com/dqdaf6ffk/image/upload/v1663048106/chapter1/6e98f_apks1j.jpg" alt="" srcset="" crossorigin="anonymous">
								<a href="#">
									Learn more
								</a>
							</div>
						</div>

						<div>
							<h3>Book</h3>
							<br>
							<p>Chapter 13</p>
						</div>
					</div>
					<div>
						<div class="slide">
							<div class="slide-img img-2">
								<img src="https://res.cloudinary.com/dqdaf6ffk/image/upload/v1663048106/chapter1/6e98f_apks1j.jpg" alt="" srcset="" crossorigin="anonymous">
								<a href="#">Learn more</a>
							</div>
						</div>

						<div>
							<h3>Book</h3>
							<br>
							<p>Chapter 13</p>
						</div>
					</div>
					<div>
						<div class="slide">
							<div class="slide-img img-3">
								<img src="https://res.cloudinary.com/dqdaf6ffk/image/upload/v1663048106/chapter1/6e98f_apks1j.jpg" alt="" srcset="" crossorigin="anonymous">
								<a href="#">Learn more</a>
							</div>
						</div>

						<div>
							<h3>Book</h3>
							<br>
							<p>Chapter 13</p>
						</div>
					</div>
					<div>
						<div class="slide">
							<div class="slide-img img-4">
								<img src="https://res.cloudinary.com/dqdaf6ffk/image/upload/v1663048106/chapter1/6e98f_apks1j.jpg" alt="" srcset="" crossorigin="anonymous">
								<a href="#">Learn more</a>
							</div>
						</div>

						<div>
							<h3>Book</h3>
							<br>
							<p>Chapter 13</p>
						</div>
					</div>
					<div>
						<div class="slide">
							<div class="slide-img img-5">
								<img src="https://res.cloudinary.com/dqdaf6ffk/image/upload/v1663048106/chapter1/6e98f_apks1j.jpg" alt="" srcset="" crossorigin="anonymous">
								<a href="#">Learn more</a>
							</div>
						</div>

						<div>
							<h3>Book</h3>
							<br>
							<p>Chapter 13</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="bigBox">
	<div>
		<h2 class="h2sep">New Release</h2>
	</div>
	<div class="updates">
		<% book.forEach( el => { %>
		<div class="cards">
			<div class="sbx">
				<a class="link" href="/uploads/<%=el._id%>">
					<div class="imgTL">
						<!-- <img src="<%=el.coverPicture[0].url%>" class="imgDis" alt="..." /> -->
						<img src="https://res.cloudinary.com/dqdaf6ffk/image/upload/v1662672154/chapter1/Solo_Leveling_Webtoon_nhkzpq.png" crossorigin="anonymous" class="imgDis" alt="..." />
					</div>
				</a>
				<div class="carding-body">
					<div class="info">
						<a href="/uploads/<%=el._id%>">
							<div class="tt"><%= el.title%></div>
						</a>
					</div>
					<div class="chap-list">
						<a href="/uploads/<%=el._id%>">
							<div class="adds round">
								<div class="chLin">Chapter <%= el.chapterss.slice().reverse()[0].number%></div>
								<div class="chDate">2 Hours</div>
							</div>
						</a>
						<a href="/uploads/<%=el._id%>">
							<div class="adds round">
								<div class="chLin">Chapter <%= el.chapterss.slice().reverse()[1].number%></div>
								<div class="chDate">2 Hours</div>
							</div>
						</a>
						<a href="/uploads/<%=el._id%>">
							<div class="adds round">
								<div class="chLin">Chapter <%= el.chapterss.slice().reverse()[2].number%></div>
								<div class="chDate">2 Hours</div>
							</div>
						</a>
						<a href="/uploads/<%=el._id%>">
							<div class="adds allChap">All chapters</div>
						</a>
					</div>
					<!-- <p class="card-text"><small class="text-muted"><%= el.uploadTime %> </small></p> -->
				</div>
			</div>
		</div>

		<% }); %>
	</div>
</div>
<script src="/javascript/browse.js"></script>
