<% layout("layout/boilerplate") %>
<link rel="stylesheet" href="/stylesheet/show.css" />
<div class="">
	<div class="firstHalf">
		<div class="row">
			<div class="col">
				<div class="">
					<img src="<%= book.coverPicture[0].url%>" class="img-fluid rounded shadow-lg" alt="" srcset="" />
				</div>
			</div>
			<div class="col">
				<div class="">
					<h1><%= book.title %></h1>
					<p><span class="badge rounded-pill bg-dark"><%= book.genres %></span></p>
				</div>
				<div>
					<h3>Synopsis</h3>
					<p><%= book.description %></p>
				</div>
			</div>
		</div>
	</div>

	<div class="secondHalf">
		<!-- <div class="row">
			<div class="col">
				<div class="">
					if  not admin or perms then not allowed to see this
					<% if(currentUser && book.author.equals(currentUser.id)) { %>
					<h1>Edit</h1>
					<form action="/uploads/<%= book.id %>/chapters" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
						<div class="input-group mb-3">
							<label for="chapter[name]" class="col-sm-2 col-form-label">Name</label>
							<input type="text" id="chapter[name]" placeholder="Name" name="name" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
						</div>
						<div class="input-group mb-3">
							<label for="chpater[number]" class="col-sm-2 col-form-label">Number</label>
							<input
								type="text"
								id="chapter[number]"
								placeholder="Number"
								name="number"
								class="form-control"
								aria-label="Sizing example input"
								aria-describedby="inputGroup-sizing-default"
							/>
						</div>
						<div class="input-group mb-3">
							<input type="file" id="chapter[image]" name="images" class="form-control" multiple />
							<label for="chapter[image]" class="input-group-text">Upload</label>
						</div>
					</form>
					<% } %>
				</div>
			</div>
		</div> -->
		<!-- chapter selection -->

		<div class="left-box">
			<div class="binfo">
				<div class="imptdata">
					<h5>Type</h5>
					<i>Manhwa</i>
				</div>
				<div class="imptdata">
					<h5>Status</h5>
					<i>Ongoing</i>
				</div>
				<div class="imptdata">
					<h5>Released</h5>
					<i>2020</i>
				</div>
				<div class="imptdata">
					<h5>Author</h5>
					<i>Sing-Shong</i>
				</div>
				<div class="imptdata">
					<h5>Artist</h5>
					<i>Sleepy-C (REDICE STUDIO)</i>
				</div>
				<div class="imptdata">
					<h5>Serialization</h5>
					<i>Naver Webtoon (Naver)</i>
				</div>
				<div class="imptdata">
					<h5>Translation</h5>
					<i>Flame Scans</i>
				</div>
				<div class="imptdata">
					<h5>Posted By</h5>
					<span itemprop="author" itemscope="" itemtype="https://schema.org/Person" class="author vcard">
						<i itemprop="name">SxThx</i>
					</span>
				</div>
				<div class="imptdata">
					<h5>Posted On </h5> <i><time itemprop="datePublished" datetime="2021-01-27T18:20:34+04:00">January 27, 2021</time></i>
				</div>
			</div>
		</div>
		<div class="right-box">
			<div class="release">
				<div class="title">
					<h2><%= book.title %></h2>
				</div>
				<div class="first-last">
					<div class="select">
						<!-- selecting the first chapter -->
						<a href="/uploads/<%= book.id%>/chapterss-1">
							<span>First Chapter</span>
							<span>Chapter 1</span>
						</a>
					</div>
					<div class="select">
						<!-- selection the last chapter -->
						<a href="/uploads/<%= book.id %>/chapterss-<%= lastValue %>">
							<span>New Chapter</span>
							<span>Chapter <% lastIdx %></span>
						</a>
					</div>
				</div>
				<div class="chLister" id="chapterlist">
					<ul class="lister">
						<% revOrder.forEach( el => { %>
						<li class="li-lis" data-num="<%= el.number %>">
							<a href="/uploads/<%= book.id%>/chapterss-<%= el.number %>">
								<div class="box">
									<div class="episodeNUM">
										<span class="chapternum">Chapter <%=el.number %></span>
										<span>September 9, 2022</span>
										<!-- <span class="chapterdate"><%=el.uploadTime %></span> -->
									</div>
								</div>
							</a>
						</li>

						<% })%>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="reviews">
		<h2>Reviews</h2>
	</div>
</div>
