<% layout("layout/boilerplate") %>
<link rel="stylesheet" href="/public/stylesheet/show.css" />
<div class="container">
	<!-- top half of  -->
	<div class="">
		<div class="row">
			<div class="col-6">
				<div class="">
					<img src="<%= book.coverPicture[0].url%>" class="img-fluid rounded shadow-lg" alt="" srcset="" />
				</div>
			</div>
			<div class="col-4">
				<div class="">
					<h1><%= book.title %></h1>
					<p><span class="badge rounded-pill bg-dark"><%= book.genres %></span></p>
				</div>
				<div>
					<h3>Synopsis</h3>
					<p><%= book.description %></p>
				</div>
			</div>
		</div>

		<!-- if user has perm put the edit form -->
		<!-- edit / delete -->

		<div class="row">
			<div class="col">
				<div class="">
					<h1>Edit</h1>
					<!-- <a href="/uploads/<%= book.id %>/edit">Edit</a> -->
				</div>
			</div>
		</div>
	</div>

	<div>
		<div class="row">
			<h1 class="text-center">Chapter Selection</h1>
			<div class="col-md-6 offset-md-3">
				<!-- if  not admin or perms then not allowed to see this -->
				<form action="/uploads/<%= book.id %>/chapters" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
					<div class="input-group mb-3">
						<label for="chapter[name]" class="col-sm-2 col-form-label">Name</label>
						<input type="text" id="chapter[name]" placeholder="Name" name="name" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
					</div>
					<div class="input-group mb-3">
						<label for="chpater[number]" class="col-sm-2 col-form-label">Number</label>
						<input
							type="text"
							id="chapter[number]"
							placeholder="Number"
							name="number"
							class="form-control"
							aria-label="Sizing example input"
							aria-describedby="inputGroup-sizing-default"
						/>
					</div>
					<div class="input-group mb-3">
						<input type="file" id="chapter[image]" name="images" class="form-control" multiple />
						<label for="chapter[image]" class="input-group-text">Upload</label>
					</div>
				</form>
				<!--*****  -->
				<div class="dropdown">
					<button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</button>
				</div>

				<div class="release">
					<h2><%= book.title %></h2>
					<div class="first-last">
						<div class="select">
							<!-- selecting the first chapter -->
							<a href="/uploads/<%= book.id%>/chapterss-1">
								<span>First Chapter</span>
								<span>Chapter 1</span>
							</a>
						</div>
						<div class="select">
							<!-- selection the last chapter -->
							<a href="/uploads/<%= book.id%>/chapterss-<%= lastIdx.number %>">
								<span>New Chapter</span>
								<span>Chapter <%= lastValue %></span>
							</a>
						</div>
						<div class="search-chapter">
							<input id="searchchapter" type="text" placeholder="Search Chapter. ex: 1 " />
						</div>

						<div class="chlister" id="chapterlist">
							<ul class="clstyle">
								<% revOrder.forEach( el => { %>
								<li data-num="<%= el.number %>">
									<div class="box">
										<div class="chh-num">
											<a href="/uploads/<%= book.id%>/chapterss-<%= el.number %>">
												<span class="chapternum">Chapter <%=el.number %></span>
												<span class="chapternum"><%=el.uploadTime %></span>
											</a>
										</div>
									</div>
								</li>

								<% })%>
							</ul>
						</div>
					</div>
				</div>

				<!-- <div class="">
					<% revOrder.forEach( el => { %>
					<div class="card mb-1">
						<div class="row g-0">
							<div class="col-mb-8">
								<div class="card-body">
									<a href="/uploads/<%=book.id%>/chapterss-<%=el.number%>/" class="text-decoration-none">
										<h5 class="card-title"><%= el.name %></h5>
									</a>
									<p class="card-text text"><small class="text-muted"><%= el.uploadTime %></small></p>
								</div>
							</div>
						</div>
					</div>
					<% }) %>
				</div> -->
				<div class="reviews">
					<h2>Reviews</h2>
				</div>

			</div>
		</div>
	</div>
</div>
