<% layout("layout/boilerplate") %>
<link rel="stylesheet" href="/stylesheet/chapter.css " />

<div class="chapBody">
	<div class="area">
		<div class="post-id" id="<%= bookDB.id%>">
			<div class="topPost">
				<h1 class="title"><%= bookDB.title %> -- Chapter <%= number %></h1>
				<p>Return To<a class="allchap" href="/uploads/<%= bookDB.id%>"> All Chapters</a></p>
			</div>
			<div class="maincontent">
				<div class="selectors">
					<span class="chapSelc"></span>
					<span class="nav-r">
						<div class="nextprev">
							<% if(lastIdx === undefined) { %>
								<a class="">
									<div class="prev disabled">Prev</div>
								</a>
							<% } else { %>
								<a href="/uploads/<%= bookDB.id%>/chapterss-<%= lastIdx.number %>">
									<div class="prev">Prev</div>
								</a>
							<% } %> 

							<!--  -->
							<% if(nextIdx === undefined) { %>
							<a class="disable">
								<div class="prev disabled">Next </div>
							</a>
							<% } else { %>
							<a href="/uploads/<%= bookDB.id%>/chapterss-<%= nextIdx.number %>">
								<div class="prev">Next</div>
							</a>
							<% } %>
						</div>
					</span>
				</div>
				<div class="reading">
					<% bookDB.chapterss[number].images.forEach(el => { %>
					<p>
						<img src="<%= el.url%>" crossorigin="anonymous" width="800" height="5000" alt />
					</p>
					<% }) %>
				</div>
				<div class="selectors">
					<span class="chapSelc"></span>
					<span class="nav-r">
						<div class="nextprev">
							<% if(lastIdx === undefined) { %>
								<a class="">
									<div class="prev disabled">Prev</div>
								</a>
							<% } else { %>
								<a href="/uploads/<%= bookDB.id%>/chapterss-<%= lastIdx.number %>">
									<div class="prev">Prev</div>
								</a>
							<% } %> 

							<!--  -->
							<% if(nextIdx === undefined) { %>
							<a class="disable">
								<div class="prev disabled">Next </div>
							</a>
							<% } else { %>
							<a href="/uploads/<%= bookDB.id%>/chapterss-<%= nextIdx.number %>">
								<div class="prev">Next</div>
							</a>
							<% } %>
						</div>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
